### Titanic data analysis

In [9]:
import numpy as np
import pandas as pd

data_set = pd.read_csv('titanic_data.csv', index_col='PassengerId')
data_set.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### 1) Number of man and women on Titanic

In [10]:
num_men = data_set.Sex.loc[data_set.Sex == 'male'].count()
num_women = data_set.Sex.loc[data_set.Sex == 'female'].count()
print('Number of men: %g\nNumber of women: %g' % (num_men, num_women))
# ----- Save file -----
# txt_file = open('answer_1.txt', 'w')
# arr2save = [num_men, num_women]
# for index in arr2save:
#     txt_file.write("%i " % index)
# txt_file.close()

Number of men: 577
Number of women: 314

### 2) Fraction of survived people (0 -- no, 1 -- yes)

In [11]:
people = data_set.Survived
frac_surv = people.loc[people == 1].count()/len(people)*100
print('Percent of survived people: %g' % frac_surv)
# ----- Save file -----
# txt_file = open('answer_2.txt', 'w')
# txt_file.write("%g " % np.round(frac_surv, 2))
# txt_file.close()

Percent of survived people: 38.3838

### 3) Fraction of the passengers from the 1-st class

In [12]:
class_data = data_set['Pclass']
frac_frst_class = class_data.loc[class_data == 1].count()/len(class_data)*100
print('Percent of people from the 1-st class: %g' % frac_frst_class)
# ----- Save file -----
# txt_file = open('answer_3.txt', 'w')
# txt_file.write("%g " % np.round(frac_frst_class, 2))
# txt_file.close()

Percent of people from the 1-st class: 24.2424

### 4) Mean and median values of the passenger's age

In [13]:
mean_age = data_set['Age'].mean()
median_age = data_set['Age'].median()
print('Mean age: %g\nMedian age: %g' % (mean_age, median_age))
# ----- Save file -----
# txt_file = open('answer_4.txt', 'w')
# arr2save = [np.round(mean_age), np.round(median_age)]
# for index in arr2save:
#     txt_file.write("%g " % index)
# txt_file.close()

Mean age: 29.6991
Median age: 28

### 5) Pearson correlation between SibSp and Parch columns

In [14]:
correlation = data_set['SibSp'].corr(data_set['Parch'])
print('Pearson correlation: %g' % correlation)
# ----- Save file -----
# txt_file = open('answer_5.txt', 'w')
# txt_file.write("%g " % np.round(correlation, 2))
# txt_file.close()

Pearson correlation: 0.414838

### 6) The most popular female name

In [15]:
def find_name(arr):
    """
    Function for obtaining the name
    """
    name = []
    for ii in range(len(arr)):
        if arr[ii] == 'Miss.':
            name = arr[ii+1]
            break
        elif arr[ii][0] == '(':
            if ii < len(arr)-1:
                name = arr[ii][1:]
            if ii == len(arr)-1:
                name = arr[ii][1:-1]
            break
    return name
    
# List of female full names
fem_name_set = data_set.Name.loc[data_set.Sex == 'female']
# Form a list of first names
name = []
for ii in fem_name_set.index:
    pass_name = fem_name_set[ii]
    name.append(find_name(pass_name.split()))
# Create a Series of first names
names_data = pd.Series(name)
most_common_name = names_data.astype('str').value_counts().index[0]
# ----- Save file -----
# txt_file = open('answer_6.txt', 'w')
# txt_file.write(most_common_name)
# txt_file.close()